.Titre--Wiki{
  @include font(Lat_Bold, 40, $Second);
  background-color: $Primary;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.ConteneurWiki{
  .ConteneurCard {
    display: flex;
    flex-wrap: wrap;
    .Card--Image {
      width: 23%;
      margin: 0 1% 1% 1%;
      .Image--Wiki {

        .img-carte {
          object-fit: cover;
          width: 100%;
          max-height: 624px;
        }
      }

      .Title {
        text-align: center;
        background-color: $Second;
      }
    }
  }
}