.carousel--Card {
  .titre--CarouselCard {
    text-align: center;
    @include font(Lat_Bold, 40, $Second);
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .container--CarouselCard {
    width: 100%;
    height: 70vh;
    background-color: rgba(190, 39, 67, 0.42);
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      width: 23%;
      margin: 0 1% 1% 1%;
      border-radius: 10px;
      box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
      position: relative;
    }
    .characters-img {
      .img--CarouselCard {
        object-fit: cover;
        width: 100%;
        max-height: 490px;
        @include respond('Desktop') {
          max-height: 518px;
        }
        @include respond('Little-Desktop') {
          max-height: 475px;
        }
        @include respond('large') {
          max-height: 350px;
        }
        @include respond('tab-land') {
          max-height: 300px;
        }
        @include respond('tab') {
          max-height: 250px;
        }
        @include respond('phone') {
          width: 490px;
          object-fit: cover;
        }
      }
    }

    .oui {
      text-align: center;
      background-color: rgba(255, 249, 236, 0.42);
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 7% 0 7% 0;
      @include font(Mod_Exp, 35, $Primary);
      @include respond('tab') {
        font-size: 25px;
      }
      //@include respond('phone') {
      //  display: none;
      //  position: static;
      //  background-color: $Primary2;
      //  padding: 0;
      //}
    }
  }
}