
.Dashboard {

  .titreDash{
    @include font(Lat_Bold, 35, $Second);
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 3%;
  }
  table{
    margin-bottom: 0;
    .tableau{
      background-color: $Second;
      color: $Primary;
    }
    tbody{
      color: $Second;
      .StyleDash:nth-child(1n+1){
        color: $Second;
        background-color: $grey;
        .crud{
          .edit{
            margin-right: 10%;
          }
        }
      }
      .StyleDash:nth-child(2n+1){
        color: $Second;
        background-color: $grey2;
      }
    }
  }

}