
.dashboard {
  .title--Dash{
    @include font(Lat_Bold, 35, $Second);
    display: flex;
    justify-content: center;
    padding-top: 7%;
    padding-bottom: 3%;
  }
  table{
    margin-bottom: 0;
    .table{
      background-color: $Second;
      @include font(Lat_Reg, 20, $Primary);
    }
    tbody{
      color: $Second;
      .style--dash:nth-child(1n+1){
        @include font(Lat_Reg, 15, $Second);
        background-color: $grey;
        .crud{
          .edit{
            margin-right: 10%;
          }
        }
        .name--wiki{
          display: flex;
          flex-direction: column;
        }
      }
      .style--dash:nth-child(2n+1){
        @include font(Lat_Reg, 15, $Second);
        background-color: $grey2;
      }
    }
  }

}