.section--new--wiki {
  .container--contact {
    display: none;
    @include respond('phone') {
      display: block;
      @include flex(center, center);
      width: 100%;
    }

    .image--contact {
      width: 20%;

      .ring {
        object-fit: cover;
        width: 100%;
      }
    }
  }

  .title--edit--wiki {
    text-align: center;
    @include font(Lat_Bold, 40, $Second);
    padding: 5% 0 5% 0 ;
  }

  .containerW {
    .conteneur--editWiki{
      display: flex;
      justify-content: space-evenly;
    }
    .edit--title{
      @include flex(center, center);
      padding-right: 4.5%;
      width: 100%;
      padding-top: 2%;
      @include font(Lat_Reg, 20, $Second);
    }

    .edit--user {
      @include flex(center, center);
      padding-right: 4.7%;
      width: 100%;
      padding-top: 1%;
      @include font(Lat_Reg, 20, $Second);
    }

    .edit--content {
      @include flex(center, center);
      padding-right: 4%;
      width: 100%;
      padding-top: 1%;
      @include font(Lat_Reg, 20, $Second);
    }

    .edit--image_file {
      width: 100%;
      padding-left: 5%;
      padding-top: 1%;
      @include font(Lat_Reg, 20, $Second);
      @include respond('phone') {
        margin-left: 4%;
      }
      img{
        max-width: 33%;
      }

      label {
        margin-bottom: 10px;
      }

      .vich-image {
        display: flex;
        flex-direction: column;
      }
    }

    .edit--category {
      .input--edit--wiki {
        @include font(Lat_Reg, 20, $Second);
        //@include flex(center, center, column, wrap);
        display: flex;
        flex-wrap: wrap;
        //height: 138px;
        width: 95%;
        max-width: 1000px;
        margin: auto;
        //margin-left: 15%;
        @include respond('phone') {
          margin-left: 18%;
        }
        label{
          padding: 5% 2% 5% 2%;
        }
      }
    }
  }

}