.section--new--wiki {
  .conteneur--contact {
    display: none;
    @include respond('phone') {
      display: block;
      @include flex(center, center);
      width: 100%;
    }

    .image--contact {
      width: 20%;

      .anneau {
        object-fit: cover;
        width: 100%;
      }
    }
  }
  .titre--edit--wiki {
    text-align: center;
    @include font(Lat_Bold, 40, $Second);
    padding-top: 5%;
  }
  .conteneurW{
    .edit--titre {
      @include flex(center, center);
      padding-right: 4.5%;
      width: 100%;
      padding-top: 2%;
      @include font(Lat_Reg, 20, $Second);
    }
    .edit--user {
      @include flex(center, center);
      padding-right: 4.7%;
      width: 100%;
      padding-top: 1%;
      @include font(Lat_Reg, 20, $Second);
    }
    .edit--contenu{
      @include flex(center, center);
      padding-right: 4%;
      width: 100%;
      padding-top: 1%;
      @include font(Lat_Reg, 20, $Second);
    }
    .edit--image_file {
      @include flex(center, center);
      width: 100%;
      padding-left: 5%;
      padding-top: 1%;
      @include font(Lat_Reg, 20, $Second);
      @include respond('phone') {
        margin-left: 4%;
      }
      label{
        margin-bottom: 10px;
      }
      .vich-image{
        display: flex;
        flex-direction: column;
      }
    }
    .edit--categorie{
      .input--edit--wiki{
        @include font(Lat_Reg, 20, $Second);
        @include flex(center,center,column,wrap);
        height: 138px;
        margin-top: 1%;
        margin-left: 15%;
        @include respond('phone'){
          margin-left: 18%;
        }
      }
    }
  }

}