body {
  margin: 0;
  padding: 0;
  width: 100%;
}


nav {
  .conteneurP {
    width: 100%;
    @include flex(space-between, center);
    background-color: $Second;
    .burger{
      display: none;
      color: $Primary;
      text-align: right;
      @include respond('phone'){
        display: block;
      }
    }
    .Logo {
      width: 85px;
      margin: 12px 0px 0px 35px;
      img {
        object-fit: cover;
        width: 100%;
      }
    }
    .menu {
      @include respond('phone') {
        display: none;
      }

      ul {
        padding: 0;
        text-align: center;
        margin: 0 150px 0 0;
        overflow: hidden;
        @include respond('phone') {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 130px;
          right: -150px;
          width: 100%;
          height: 100vh;
          background-color: $Second;

        }

        li {
          display: inline-block;
          padding: 20px;
          font-family: Lat_Bold;
          @include respond('phone') {
        }

          a {
            text-decoration: none;
            color: $Primary;
            font-size: 15px;
          }
        }

        .inscription {
          border: 1px solid $Primary;
          border-radius: 100px;
          padding: 5px 10px;
        }

        .connecter {
          background-color: $Primary;
          border-radius: 120px;
          color: $Second;
          padding: 5px 10px;
        }
      }
    }
  }
}

footer {
  margin-top: 50px;

  div {
    .RGPD {
      @include flex(space-evenly, center);


      p {
        padding: 30px 0;

        a {
          font-size: 25px;
          color: $Primary;
          text-decoration: none;
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-evenly;
      padding: 50px 20px;
      background-color: $Primary;
      @include font(Lat_Bold, 25, $Second);

      .Dev {
        display: flex;
        flex-direction: column;

        p {
          margin-bottom: 10px;
        }
      }

      .reseaux {
        display: flex;
        flex-direction: column;
        .conteneurIcone {
          display: flex;
          .icone {
            width: 2vw;
            height: 2vw;
            position: relative;
            margin: 0px 5px;

            img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}


