
  .dernier--wiki {
    .titre--dernierWiki {
      text-align: center;
      @include font(Lat_Bold, 40, $Second);
      padding-top: 5%;
      padding-bottom: 5%;
    }
    .card--dernier {
      display: flex;
      flex-wrap: wrap;
      @include respond('phone') {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;

      }

      .card--home {
        width: 23%;
        margin: 0 1% 1% 1%;
        position: relative;
        @include respond('phone') {
          margin: 0;
          display: flex;
          width: 215px;
        }

        .image--home {
          @include respond('phone') {
          }

          .img-Home {
            object-fit: cover;
            width: 100%;
            max-height: 612px;
            @include respond('Desktop') {
              max-height: 518px;
            }
            @include respond('Little-Desktop') {
              max-height: 475px;
            }
            @include respond('large') {
              max-height: 350px;
            }
            @include respond('tab-land') {
              max-height: 300px;
            }
            @include respond('tab') {
              max-height: 250px;
            }
            @include respond('phone') {
              width: 490px;
              object-fit: cover;
            }
          }

          .title--home {
            text-align: center;
            background-color: rgba(255, 249, 236, 0.42);
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 7% 0 7% 0;
            @include font(Mod_Exp, 35, $Primary);
            @include respond('tab') {
              font-size: 25px;
            }
            //@include respond('phone') {
            //  display: none;
            //  position: static;
            //  background-color: $Primary2;
            //  padding: 0;
            //}
          }
        }
      }
    }
  }

  .conteneur--bio{
    display: flex;
    padding: 5% 5% 5% 5%;
    @include respond('phone'){
      flex-direction: column;
      justify-items: center;
      align-items: center;

    }
    .biographie{
      @include font(Lat_Reg, 18, $Second);
      padding: 0 1% 0 1%;
      display: flex;
      align-items: center;
      @include respond('phone'){
        font-size: 83%;
      }
    }
    .image--bio{
      margin-left: 2%;
      img{
        border-radius: 55%;
        @include respond('phone'){
          max-height: 130px;
          margin-top: 10%;
        }
      }
    }
  }

