section{
  background-color: $Primary;
  .img--tree {
    display: none;
    @include respond('phone'){
      display: block;
      padding-top: 10%;
      @include flex(center, center);
      width: 100%;
    }
    .logo--connect {
      width: 20%;
      .tree {
        object-fit: cover;
        width: 100%;
      }
    }
  }
  .title--insc{
    text-align: center;
    padding: 5% 0 5% 0;
    @include font(Lat_Bold, 40, $Second);
    @include respond('phone'){
      padding: 5% 0 5% 0;
    }

  }
  .form--insc {
    margin: 0 0 0 40%;
    max-width: 1000px;
    width: 95%;
    @include respond('laptop'){
      margin: 0 0 0 33%;
    }
    @include respond('phone'){
    margin: 0 -20% 0 auto;
    }
    .civilite {
      display: flex;
      width: 50%;
      @include font(Lat_Reg, 20, $Second);
      @include respond('phone'){
        margin-bottom: 4% ;
      }

      div {
        width: 50%;
      }
    }
    .pseudo{
      @include font(Lat_Reg, 15, $Second);
    }

    .insc--email {
      margin-top: 1%;
      @include font(Lat_Reg, 20, $Second);
      @include respond('phone'){
        margin-bottom: 4% ;
      }
      div{
        padding: 1% 0 0 0;
      }
      li{
        background-color: $error;
        padding: 10px;
        width: 27%;
        text-align: center;
        @include respond('phone'){
         width: 67%;
          margin-left: 5%;
        }
      }
    }

    .insc--Password {
      margin-top: 1%;
      @include font(Lat_Reg, 20, $Second);
      @include respond('phone'){
        padding-bottom: 4% ;
      }
      div{
        padding: 1% 0 1% 0;
      }
      li{
        background-color: $error;
        padding: 10px;
        width: 30%;
        text-align: center;
        @include respond('phone'){
          width: 67%;
          margin-left: 5%;
        }
      }
    }

    .agree--terms {
      margin-top: 1%;
      @include font(Lat_Reg, 20, $Second);
      .label--Accep{
        margin-right: 10px;
      }
      a{
        @include respond('phone'){
          font-size: 17px;
        }
      }
    }
  }
    .submit--insc{
      margin-top: 5%;
      text-align: center;
      width: 100%;
      @include font(Lat_Bold, 25, $Second);
      .button-Insc{
        border-radius: 10px 100px / 120px;
        border: $Second;
        padding: 10px;
        background-color: $Second;
        @include font(Lat_Bold, 25, $Primary);

      }
    }




}