
.display {
  @include respond('phone') {
    display: none;
  }
}

.flex--spaceE{
  display: flex;
  justify-content: space-evenly;
}

.flex--center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-format{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  color: $Second;
  width: 41%;
    &::placeholder{
      color: $grey;
    }
}

.input-Civ{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 50%;
  color: $Second;
  @include respond('phone'){
    width: 70%;
  }
  &::placeholder{
    color: $Second;

  }
}

#registration_form_plainPassword_first {
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 30%;
  color: $Second;
  @include respond('phone'){
    width: 50%;
  }
  &::placeholder{
    color: $Second;

  }
}

#registration_form_plainPassword_second{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 30%;
  color: $Second;
  @include respond('phone'){
    width: 50%;
  }
  &::placeholder{
    color: $Second;
  }
}

.input-Edit{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 50%;
  color: $Second;
  &::placeholder{
    color: $Second;
  }
}

.Input--Edit--Email{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 130%;
  color: $Second;
    &::placeholder{
      color: $Second;
    }
}

  .input--contact2 {
    width: 45%;
    padding: 5%;
    border-radius: 15px;
    margin-left: 25%;
    @include respond('phone') {
      margin-left: 25%;
    }
    &::placeholder {
      color: $Primary;
    }
  }

.Input--Categorie{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 50%;
  color: $Second;
  &::placeholder{
    color: $Second;
  }
}

.Input--New--Titre{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 75%;
  color: $Second;
  &::placeholder{
    color: $Second;
  }
}

.Input--New--User{
  border-top: white;
  border-right: white;
  border-left: white;
  background: $Primary;
  width: 75%;
  color: $Second;
  &::placeholder{
    color: $Second;
  }
}

.Input--New--Wiki{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 75%;
  color: $Second;
  &::placeholder{
    color: $Second;
  }
}

.Input--Edit--Titre{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 75%;
  color: $Second;
  margin-left: 5%;
  &::placeholder{
    color: $Second;
  }
}

.Input--Edit--User{
  border-top: white;
  border-right: white;
  border-left: white;
  background: $Primary;
  width: 75%;
  color: $Second;
  margin-left: 5%;
  &::placeholder{
    color: $Second;
  }
}

.Input--Edit--Wiki{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 75%;
  color: $Second;
  &::placeholder{
    color: $Second;
  }
}


