
.display {
  @include respond('phone') {
    display: none;
  }
}
.display--card {
  display: none;
  @include respond('phone') {
    display: none;
  }
}



.flex--spaceE{
  display: flex;
  justify-content: space-evenly;
}

.flex--center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-format{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  color: $Second;
  width: 41%;
    &::placeholder{
      color: $grey;
    }
}

.input-Civ{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 50%;
  color: $Second;
  @include respond('phone'){
    width: 70%;
  }
  &::placeholder{
    color: $Second;

  }
}

#registration_form_plainPassword_first {
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 30%;
  color: $Second;
  @include respond('phone'){
    width: 50%;
  }
  &::placeholder{
    color: $Second;

  }
}

#registration_form_plainPassword_second{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 30%;
  color: $Second;
  @include respond('phone'){
    width: 50%;
  }
  &::placeholder{
    color: $Second;
  }
}

.input-Edit{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 50%;
  color: $Second;
  &::placeholder{
    color: $Second;
  }
}

.Input--Edit--Email{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 130%;
  color: $Second;
    &::placeholder{
      color: $Second;
    }
}

  .input--contact2 {
    width: 45%;
    padding: 5%;
    border-radius: 15px;
    margin-left: 25%;
    @include respond('phone') {
      margin-left: 25%;
    }
    &::placeholder {
      color: $Primary;
    }
  }

.Input--Categorie{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 50%;
  color: $Second;
  &::placeholder{
    color: $Second;
  }
}

.Input--New--Titre{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 75%;
  color: $Second;
  &::placeholder{
    color: $Second;
  }
}

.Input--New--User{
  border-top: white;
  border-right: white;
  border-left: white;
  background: $Primary;
  width: 75%;
  color: $Second;
  &::placeholder{
    color: $Second;
  }
}

.Input--New--Wiki{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 75%;
  color: $Second;
  &::placeholder{
    color: $Second;
  }
}

.Input--Edit--Titre{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 85%;
  color: $Second;
  margin-left: 5%;
  &::placeholder{
    color: $Second;
  }
}

.Input--Edit--User{
  border-top: white;
  border-right: white;
  border-left: white;
  background: $Primary;
  width: 75%;
  color: $Second;
  margin-left: 5%;
  &::placeholder{
    color: $Second;
  }
}
.Input--Edit--Contenu{
  border-top: white;
  border-right: white;
  border-left: white;
  background: $Primary;
  width: 75%;
  color: $Second;
  margin-left: 5%;
  &::placeholder{
    color: $Second;
  }
}

.Input--New--Url{
  border-top: white;
  border-right: white;
  border-left: white;
  background: $Primary;
  width: 75%;
  color: $Second;
  margin-left: 2%;
  &::placeholder{
    color: $Second;
  }
}

.Input--Edit--Wiki{
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 75%;
  color: $Second;
  &::placeholder{
    color: $Second;
  }
}

.securite{
  color: white;
  background-color: #ff000cb3;
  margin:0px -2px -1px -1px;
  padding: 1%;
}

.securite_V2{
  color: white;
  background-color: #53af4b;
  margin:0px -2px -1px -1px;
  padding: 1%;
  @include font(Lat_Bold, 17, $Second);
}


.Input--Edit--CommentTitre{
  margin-left: 30%;
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 25%;
  color: $Second;
}

.Input--Edit--CommentContenu{
  margin-left: 30%;
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 55%;
  color: $Second;
}

.Input--New--CommentTitre{
  margin-left: 5%;
  border-top: white;
  border-right: white;
  border-left: white;
  background: transparent;
  width: 30%;
  color: $Primary;
  @include respond('tab-land'){
    width: 50%;
  }
}

.Input--New--CommentContenu{
  margin-left: 5%;
  margin-top: 1%;
  background: transparent;
  width: 50%;
  color: $Primary;
  @include respond('tab-land'){
    width: 75%;
    height: 100px;
  }
}

