$filePath: "../../fonts/";

$grey: rgb(115, 114, 114);
$grey2: rgb(80, 80, 80);
$red: #e01111;
$blue: #526af2;
$green: #21ca9a;
$orange: #ef8f10;
$Primary : #0D2D26;
$Second : rgba(255, 249, 236, 1);
$Text : #F5F0F0;
$Primary2 : #031814;
$error: #e76868;



