.Section--New--Wiki {
  .Titre--New--Wiki {
    text-align: center;
    @include font(Lat_Bold, 40, $Second);
    padding-top: 5%;
  }

  .conteneurN {
    .New--Titre {
      @include flex(center, center);
      padding-right: 4.5%;
      width: 100%;
      padding-top: 2%;
      @include font(Lat_Reg, 20, $Second);
    }

    .New--User {
      @include flex(center, center);
      padding-right: 4.7%;
      width: 100%;
      padding-top: 1%;
      @include font(Lat_Reg, 20, $Second);
    }

    .New--User {
      @include flex(center, center);
      padding-right: 4.7%;
      width: 100%;
      padding-top: 1%;
      @include font(Lat_Reg, 20, $Second);
    }
    .New--Url {
      @include flex(center, center);
      padding-right: 4.7%;
      width: 100%;
      padding-top: 1%;
      @include font(Lat_Reg, 20, $Second);
    }

    .New--image_file {
      @include flex(center, center);
      width: 100%;
      padding-left: 5%;
      padding-top: 1%;
      @include font(Lat_Reg, 20, $Second);
      @include respond('phone') {
        margin-left: 4%;
      }
      label{
        margin-bottom: 10px;
      }
    }

    .New--Categorie {
      div {
        @include font(Lat_Reg, 20, $Second);
        @include flex(center, center, column, wrap);
        height: 138px;
        margin-top: 1%;
        margin-left: 2%;
        @include respond('phone') {
          margin-left: 7%;
        }
      }
    }
  }


  .Save--New {
    margin-top: 3%;
    text-align: center;
    width: 100%;
    @include font(Lat_Bold, 25, $Second);
    .bouton-New {
      border-radius: 10px 100px / 120px;
      border: $Second;
      padding: 10px;
      background-color: $Second;
      @include font(Lat_Bold, 25, $Primary);
    }
  }
}
