{% extends 'base.html.twig' %}

{% block body %}
<section class="section--edit">
    <div class="com--title">
        <h1 class="title--edit">
            Nouvelle Catégories
        </h1>
    </div>

    {{ form_start(form) }}
    <div class="conteneurC">
        <div class="new--category">
            {{ form_row(form.label) }}
        </div>
    </div>
    <div class="submit--insc">
        {{ form_row(form.save) }}
    </div>
    {{ form_end(form) }}
</section>

{% endblock body %}