{% extends 'base.html.twig' %}



{% block body %}
    <div class="Titre--Wiki">
        <h1>
            Wiki
        </h1>
    </div>
    <section class="ConteneurWiki">
        <div class="">
        {% for wiki in wikis %}

            <div class="Card--Image">
                <div class="Image--Wiki">
                {% if wiki.imageName %}
                    <img src="{{ vich_uploader_asset(wiki, 'imageFile') }}" class="img-carte" alt="image_name">
                {% else %}
                    <img src="https://cdn.pixabay.com/photo/2014/04/02/11/14/book-305625_1280.png" class="img-carte"
                         alt="Default-image">
                {% endif %}
                </div>
                <div class="Title">
                    <h5 class="title-carte">{{ wiki.titre }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock body %}