{% extends 'base.html.twig' %}

{% block body %}
    <section class="contact">
        <div class="container--contact">
            <div class="image--contact">
                <img class="ring" src='{{ asset ("Image/image.png") }}' alt="LOTR">
            </div>
        </div>
        <div class="title--edit">
            <h1 class="title--contact">
                Contact
            </h1>
        </div>
        <form method="post">
            <div class="form--connexion">
                <div class="email">
                    <input type="text" name="email" id="email" class="input--contact respond" placeholder="Email">
                </div>
                <div class="object">
                    <input type="text" name="objet" id="objet" class="input--contact" placeholder="Objet">
                </div>
                <div class="message">
                    <div class="label--container">
                        <label for="text" class="label--message"> Message </label>
                    </div>
                    <div class="input--message">
                        <input type="text" name="message" id="message" class="input--contact2">
                    </div>
                </div>
            </div>
            <div class="container--submit">
                <button class="contact--submit" type="submit">
                    Envoyer
                </button>
            </div>
        </form>
    </section>
{% endblock body %}